version: 2.1
orbs:
  elixir: membraneframework/elixir@1

executors:
  python_linux_x86_executor:
    docker:
      - image: cimg/python:3.11
    resource_class: medium

  python_linux_arm_executor:
    docker:
      - image: cimg/python:3.11
    resource_class: arm.medium

  linux_x86_executor:
    docker:
      - image: membraneframeworklabs/docker_membrane
    resource_class: medium

  linux_arm_executor:
    docker:
      - image: membraneframeworklabs/docker_membrane
    resource_class: arm.medium

  macos_arm_executor:
    macos:
      xcode: 16.4.0
    resource_class: macos.m1.medium.gen1

commands:
  mix_release_server:
    parameters:
      platform:
        type: enum
        enum: [macos-arm, linux-x86, linux-arm]
      cache-version:
        description: "Cache version number, can be used to force cache recreation"
        type: integer
        default: 1

    steps:
      - checkout
      - when:
          condition:
            equal: [<< parameters.platform >>, macos-arm]
          steps:
            - run:
                name: Install erlang and elixir
                command: |
                  brew install asdf openssl
                  asdf plugin add erlang || true
                  asdf plugin add elixir || true
                  asdf install erlang 27.3
                  asdf install elixir 1.18.3-otp-27
                  asdf set -u erlang 27.3
                  asdf set -u elixir 1.18.3-otp-27
                  echo 'export PATH="${ASDF_DATA_DIR:-$HOME/.asdf}/shims:$PATH"' >> $BASH_ENV
            - run:
                name: Install hex and rebar
                command: |
                  mix local.hex --force
                  mix local.rebar --force
      - elixir/get_mix_deps:
          cache-version: << parameters.cache-version >>
      - elixir/use_build_cache:
          cache-version: << parameters.cache-version >>
      - run:
          name: Mix release
          command: mix release server
      - run:
          name: Tar the release
          command: |
            mkdir -p artifacts
            tar -czvf artifacts/boombox-server-<< parameters.platform >>.tar.gz -C _build/prod/rel/server .
      - persist_to_workspace:
          root: ~/project/
          paths:
            - artifacts

  publish_python_package_linux:
    parameters:
      arch:
        type: string
        default: "auto"
    steps:
      - checkout:
          path: ~/project
      - setup_remote_docker

      - run:
          name: Build wheels with cibuildwheel
          command: |
            pip install cibuildwheel
            mkdir -p wheelhouse
            CIBW_ARCHS=<< parameters.arch >> CIBW_SKIP="*musllinux*" cibuildwheel --output-dir wheelhouse
      - run:
          name: Publish to PyPI
          command: |
            pip install twine
            twine upload --username __token__ --password $PYPI_API_KEY wheelhouse/*

jobs:
  test_exclude_browser:
    docker:
      - image: membraneframeworklabs/docker_membrane
    environment:
      MIX_ENV: test

    working_directory: ~/app
    steps:
      - attach_workspace:
          at: .
      - checkout
      - run: mix deps.get
      - run: mix compile
      - run: mix test --exclude browser


  compare_versions:
    docker:
      - image: ubuntu

    steps:
      - checkout
      - run:
          name: Compare the versions from mix.exs and python/pyproject.toml
          command: |
            python_package_version=$(grep "^version =" python/pyproject.toml | awk '{print $3}' | tr -d ' "')
            elixir_package_version=$(grep "^  @version" mix.exs | awk '{print $2}' | tr -d ' "')
            if [ $python_package_version != $elixir_package_version ]; then
                echo "package versions don't match - python: $python_package_version, elixir: $elixir_package_version"
                exit 1
            fi

  mix_release_server_macos_arm:
    executor: macos_arm_executor

    environment:
      MIX_ENV: prod

    steps:
      - mix_release_server:
          platform: macos-arm

  mix_release_server_linux_x86:
    executor: linux_x86_executor

    environment:
      MIX_ENV: prod

    steps:
      - mix_release_server:
          platform: linux-x86

  mix_release_server_linux_arm:
    executor: linux_arm_executor

    environment:
      MIX_ENV: prod

    steps:
      - mix_release_server:
          platform: linux-arm

  publish_github_release:
    parameters:
      version:
        description: version of boombox
        type: string

    docker:
      - image: ubuntu

    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: Install ghr tool
          command: |
            apt update
            apt install -y wget
            wget https://github.com/tcnksm/ghr/releases/download/v0.16.0/ghr_v0.16.0_linux_amd64.tar.gz
            tar -xf ghr_v0.16.0_linux_amd64.tar.gz
      - run:
          name: Publish release
          command:
            ./ghr_v0.16.0_linux_amd64/ghr -t ${GITHUB_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -c ${CIRCLE_SHA1} -delete << parameters.version >> ~/artifacts/

  publish_python_package_macos_arm:
    executor: macos_arm_executor
    working_directory: ~/project/python
    steps:
      - checkout:
          path: ~/project
      - run:
          name: Install cibuildwheel
          command: pip install cibuildwheel twine
      - run:
          name: Build wheels
          command: CIBW_PLATFORM=macos CIBW_ARCHS=arm64 cibuildwheel --output-dir wheelhouse
      - run:
          name: Publish to PyPI
          command: twine upload --verbose --username __token__ --password $PYPI_API_KEY wheelhouse/*

  publish_python_package_linux_x86:
    executor: python_linux_x86_executor
    working_directory: ~/project/python
    steps:
      - publish_python_package_linux:
          arch: x86_64

  publish_python_package_linux_arm:
    executor: python_linux_arm_executor
    working_directory: ~/project/python
    steps:
      - publish_python_package_linux:
          arch: aarch64

  build_python_docs:
    docker:
      - image: curlimages/curl:8.16.0

    steps:
      - run:
          name: Trigger docs build
          command:
            curl -X POST -d token=$READTHEDOCS_WEBHOOK_TOKEN $READTHEDOCS_WEBHOOK_URL

workflows:
  build:
    jobs:
      - elixir/build_test:
          filters: &push_filters
            tags:
              only: /v.*/
      - elixir/lint:
          filters: *push_filters
      - test_exclude_browser:
          filters: *push_filters
      - compare_versions:
          filters: *push_filters
      - elixir/hex_publish:
          requires:
            - elixir/build_test
            - test_exclude_browser
            - elixir/lint
            - compare_versions
          filters: &publish_filters
            branches:
              ignore: /.*/
            tags:
              only: /v.*/
          context:
            - Deployment
      - mix_release_server_macos_arm: &mix_release_job_config
          requires:
            - elixir/build_test
            - test_exclude_browser
            - elixir/lint
            - compare_versions
          filters: *publish_filters
          context:
            - Deployment
      - mix_release_server_linux_x86: *mix_release_job_config
      - mix_release_server_linux_arm: *mix_release_job_config
      - publish_github_release:
          requires:
            - mix_release_server_macos_arm
            - mix_release_server_linux_x86
            - mix_release_server_linux_arm
          filters: *publish_filters
          context:
            - Deployment
          version: << pipeline.git.tag >>
      - publish_python_package_macos_arm: &publish_python_package_job_config
          requires:
            - publish_github_release
          filters: *publish_filters
          context:
            - Deployment
      - publish_python_package_linux_x86: *publish_python_package_job_config
      - publish_python_package_linux_arm: *publish_python_package_job_config
      - build_python_docs:
          requires:
            - publish_python_package_macos_arm
            - publish_python_package_linux_x86
            - publish_python_package_linux_arm
          filters: *publish_filters
          context:
            - Deployment
